body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
background:rgba(255,255,255,0.2);
padding:30px;
border-radius:15px;
text-align:center;
width:320px;
}

input{
padding:10px;
border:none;
border-radius:5px;
width:180px;
}

button{
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
margin-top:10px;
}

#forecast{
margin-top:20px;
}

.day{
background:rgba(255,255,255,0.2);
margin:5px;
padding:10px;
border-radius:10px;
}

#suggestions{
background:white;
color:black;
max-height:150px;
overflow-y:auto;
border-radius:5px;
margin-top:5px;
}

.suggestion{
padding:6px;
cursor:pointer;
}

.suggestion:hover{
background:#ddd;
}
